body{
  font-family: sans-serif;

}
.TableDog{
  color: #ffffff;
  border: .5px solid: #eee;
}

}

header{
  background-color: #ff8523;
  width: 100%;
  margin: 0%;
  padding-bottom: 4em;
  padding-top: 1em;
}
.main_navigation{
  padding-top: 12px;
  padding-left: 12px;
}
#page_content{
  margin: 10px;
}

.name{
  background-color: #ff8523;
  padding-left: 1em;
}

form{
  background-color: #dddddd;
  padding-left: 1em;
}
.main_navigation a{
  text-decoration:none;
}

thead{
  background-color: #1fabe5;
}

table{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  text-indent: 1em;

}

tbody td{
  border: .5px solid #1fabe5;
}

.main_navigation a{
  padding: .5em 2em;
  border: .25px solid #eee;
  border-radius: 3.5px;
  color: #eee;
  font-weight: bold;
}

#logo{
  padding: 1em;
  margin-top: 2em;
}

h2, h3{
  color: #1fabe5;
}

ul{
  font-weight: bold;
}
a{
   color: #1fabe5;
 }

tr{
  height: 3em;
}

td{
  height: 3em;
}

/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
