
/* Global */
* {
  box-sizing: border-box;
}



body{
  font-family: sans-serif;
  margin: 0;
  padding:0;

}
.TableDog{
  color: #ffffff;
  border: .5px solid: #eee;
}
.FormSize form{
  height: 25em;
  border-radius: 5px;

}

img {
  height: 50px;
}

header{
  background-color: #ff8523;
  width: 100%;
  margin: 0%;
  padding-bottom: 4em;
  padding-top: 1em;
}
.main_navigation{
  padding-top: 12px;
  padding-left: 12px;
}
#page_content{
  margin: 10px;
}

.name{
  background-color: #ff8523;
  padding: 1.25em;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}

form{
  background-color: #dddddd;
  padding: 1em;
  font-weight: bold;
  font-size: .75em;
}
.main_navigation a{
  text-decoration:none;
}

thead{
  background-color: #1fabe5;
}

.TextArea{
  padding: 30px;
}
table{
  border-collapse: collapse;
  width: 100%;

  text-align: left;
  text-indent: 1em;

}

tbody td{
  border: .5px solid #1fabe5;
height: 10px;
text-align: center;
padding: 4px;
}

tbody{
  height: em;
}

.main_navigation a{
  padding: .5em 2em;
  border: .25px solid #eee;
  border-radius: 3.5px;
  color: #eee;
  font-weight: bold;
}

#logo{
  padding: 1em;
  margin-top: 2em;
}

h2, h3{
  color: #1fabe5;
}

ul{
  font-weight: bold;
}
a{
   color: #1fabe5;
 }

tr{
  height: 3em;
}

td{
  height: 3em;
}

/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
