
/* Global */
* {
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  box-shadow: 10px 10px 5px #888888;
  background-color: #ddd;
}

.TableDog{
  background-color: #1fabe5;
  border: .5px solid: #eee;

}

.TableDog td{
  border: .5px solid #046c97
}

.FormSize form{
  height: 44em;
  border-radius: 5px;
}

/*.FormSize h2{
  font-size: 50px;
  color: #1fabe5;
  font-weight: bold;

}*/

.city_container{
  margin-top: 2em;
  margin-bottom: 2em;
}

img {
  height: 50px;
}

header{
  background-color: #ff8523;
  width: 100%;
  margin: 0%;
  padding-bottom: 2.5em;
  padding-top: 1em;

}
.main_navigation{
  padding-top: 12px;
  padding-left: 12px;
}


#page_content{
  margin: 1em;
}

body > div{
  border:3px solid #ffd24a;
  background-color: #ffffff;
}

.name{
  background-color: #ff8523;
  padding: 1.25em;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  block-size: 6em;
}

.name input{
  block-size: 4em;
  width: 40em;
}

form{
  background-color: #dddddd;
  padding: 2em;
  font-weight: bold;
}

.main_navigation a{
  text-decoration:none;
}

thead{
  background-color: #1fabe5;
}

table{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  text-indent: 1em;
  padding: 20px 0;
  margin: 20px 0;
}

tbody td{
border: .5px solid #1fabe5;
height: 10px;
text-align: left;
padding: 4px;
}


.main_navigation a{
  padding: .5em 2em;
  border: .25px solid #eee;
  border-radius: 3.5px;
  color: #eee;
  font-weight: bold;
}

#logo{
  padding: 1em;
  margin-top: 2em;
}

textarea{
  margin-top: 10px;
  padding-right: 72em;
  padding-bottom: 18em;
  margin-bottom: 20px;
}

.submit_container{
  block-size: 50px;
}

.submit_container input{
  background-color: #1fabe5;
  /*padding-left: 30px;*/
  /*padding-bottom: 30px;*/
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 25px;
}

h2, h3{
  color: #1fabe5;
}

ul{
  font-weight: bold;
}

a{
   color: #1fabe5;
 }

tr{
  height: 3em;
}

td{
  height: 3em;
}

/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
